.footer {
	display: flex;
	flex-direction: row;
	height: 11vh;
	background-color: #2067dd;
    font-size: 12px;
}

.khungphai_footer {
    display: block;
	margin-top: 2vh;
	color: rgb(243, 236, 236);
	position:absolute;
	right: 6vw;
}

.khungtrai_footer {
	margin-top: 2vh;
	color: rgb(243, 236, 236);
	position:absolute;
	left: 6vw;
}

@media screen and (max-width: 800px) {
    .footer {
		display: flex;
		flex-direction: row;
		height: 11vh;
		background-color: #2067dd;
		font-size: 10px;
	}
}